:root {
    --maincolor: #333;
    --maincolor1: #cc6119;
    --maincolor2: #232628;
    --main-color4: #333;
}

html {
    scroll-behavior: smooth;
}


.middle {
    position: absolute;
    top: 80%;
    left: 50%;
    z-index: 1000;
}

.contact-info {
    position: fixed;
    top: 40%;
    z-index: 10000;
    left: 96%;
}

@media(max-width:320px) {
    .contact-info {
        left: 83%;
    }
}

@media(min-width:321px) and (max-width:375px) {
    .contact-info {
        left: 86%;
    }
}

@media(min-width:376px) and (max-width:425px) {
    .contact-info {
        left: 87%;
    }
}

@media(min-width:426px) and (max-width:768px) {
    .contact-info {
        left: 93%;
    }
}

.option {
    position: relative;
    cursor: pointer;
}

.option i {
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #f1f1f1;
    color: #b9b9b9;
    font-size: 20px;
    transition: .5s;
}

.option:hover i {
    color: #3498db;
}

.text12 {
    position: absolute;
    height: 60px;
    width: 200px;
    background: #1b1b1b;
    top: 0;
    z-index: -1;
    left: 0px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: .5s;
}

.option:hover .text12 {
    left: -200px;
}

/* start navbar */
.header .top-header .cont .row .col-lg-3 h1 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    padding: 10px;
    margin-bottom:0;
    padding-bottom:0;
}
.header .top-header .cont .row .col-lg-3 .login 
{
    display: flex;
    margin-bottom:20px;
}
.header .top-header .cont .row .col-lg-3 .login div 
{
    margin-right: 20px;
}
.header .top-header .cont .row .col-lg-3 .login div i
{
    float: left;
    padding-top:8px;
    padding-right: 10px;
    color:#888;
    font-size: 12px;
}
.header .top-header .cont .row .col-lg-3 .login div:after
{
    content:"/";
}
.header .top-header .cont .row .col-lg-3 .login a
{
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    color:#888;
}
@media(max-width:768px)
{
    .header .top-header .cont 
    {
        padding-right: 0;
        position: relative;
    }
    .header .top-header .cont .row .col-lg-3
    {
        padding:0;
    }
    .header .top-header .cont .row .col-lg-3 h1 
    {
        color:#fff;
        background: #000;
        padding-bottom:10px;
    }
    .header .top-header .cont .row .col-lg-3 .social
    {
        margin-left: 16px;
        margin-bottom:20px;
    }
}
.header .top-header .cont .row .col-lg-3 .caption3 i {
    float: left;
    font-size: 35px;
    padding: 10px;
    padding-top: 22px;
    padding-right: 20px;
}

.header .top-header .cont .row .col-lg-3 .caption3 .text1 {
    padding-top: 15px;
    font-family: "lora";
}

.social {
    margin-top: 20px;
}

.social i {
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.bottom-header {
    background-color: #92c938;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.bottom-header .cont1 .row .navbar {
    padding: 0;
}

.bottom-header .cont1 .row .navbar .collapse {
    margin-bottom: 0;
}

.bottom-header .cont1 .row .navbar .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    transition: .5s;
}

.bottom-header .cont1 .row .navbar .nav-link:hover {
    background: #333;
}

.bottom-header .cont1 .row .navbar .nav-item.active {
    background: #333;
}

.bottom-header .cont1 .row .navbar .form-inline input {
    border-radius: 0;
    float: left;
}

.bottom-header .cont1 .row .navbar .form-inline a {
    text-decoration: none;
}

.bottom-header .cont1 .row .navbar .form-inline i {
    background: #cc6119;
    color: #fff;
    padding: 10px;
    margin-left: -9px;
}

.description {
    position: absolute;
    top: 40%;
    left: 20%;
    text-align: center;
    font-family: "lora";
    color: #fff;
}

.description h3 {
    font-weight: 700;
    font-size: 50px;
    border-bottom: 3px solid #92c938;
}

.description p {
    font-size: 18px;
    font-style: italic;
    text-transform: capitalize;
}
@media(max-width:768px)
{
    .description
    {
        left:-3%;
        top:50%;
    }
    .description h3{
        font-size: 30px;
    }
}
/* end navbar */
.container-fluid .col-lg-12 .carousel-item img {}


.stm-slider-currency {
    margin-left: -30px;
    font-size: 50px;
    color: #fff;
    position: relative;
    top: -40px;
}

.stm-slider-price {
    font-size: 106px;
    color: #fff;
    font-weight: 800;
    line-height: 75px;
    font-family: 'Montserrat';
    letter-spacing: -10px;
}

.stm-slider-divider {
    color: #222;
    position: relative;
    top: -40px;
    left: 6px;
    font-size: 50px;
}

.stm-slider-time {
    font-size: 50px;
    color: #222;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: -30px;
}

.stm-slide-value {
    position: relative;
    left: 50%;
    top: -40px;
    padding-left: 4px;
    display: block;
    white-space: normal;
    font-size: 16px;
    line-height: 14px;
    word-spacing: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.stm-slider {
    width: 300px;
    text-align: center;
    padding: 0;
    font-family: 'Montserrat';
    margin-top: -30px;
    margin-left: -20px;
}

@media(max-width:991px) {
    .text6 {
        display: none;
    }

    .search-box {
        display: none;
    }
}
.carousel-control-next
{
    opacity: 1;
}
.text7 {
    position: absolute;
    top: 10%;
    left: 60%;
}

.text7 .h1 {
    font-size: 46px;
    color: #232628;
    font-weight: 400 !important;
}

.text7 .h1 .white {
    color: #fff;
}

.text7 a {
    float: left;
    position: relative;
    top: 80px;
    left: 40%;
    text-decoration: none;
    color: #fff;
    background: #6c98e1;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    transition: .5s;
}

.text7 a:hover {
    opacity: .7;
}

@media(max-width:991px) {
    .text7 {
        display: none;
    }
}

.box {
    background: linear-gradient(rgba(246, 246, 246, 0.8), rgba(246, 246, 246, 0.8)), url("../carfairimages/car 36.jpg");
    background-size: cover;
    background-position: 50% 70%;
    margin-left: -15px;
    margin-right: -15px;
}

.cont5 .row {
    background: url("../carfairimages/car 29.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.cont5 .row #col {
    background: #ffcb05;
    padding: 65px;
}

.cont5 .row #col h2 {
    font-size: 38px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.cont5 .row #col p {
    color: #000000;
    font-size: 16px;
}

.cont5 .row #col .btn {
    background: #000000;
    color: white;
    border-radius: 0;
    border: none;
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.cont5 .row #col .btn:hover {
    background: white;
    color: black;
    font-weight: 500;
}

.box .link {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
    display: none;
}


.h1 {
    text-align: center;
    font-family: "lora";
    padding-top: 40px;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
}

.h1 span {
    color: #fbc112;
}

.p {
    text-align: center;
    font-size: 18px;
    width: 65%;
    margin: 0 auto;
    color: #808285;
}

.swiper-container {
    width: 100%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top:30px;
    margin-bottom:30px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: 200px;
    /* Center slide text vertically */
    width:333.333px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    display: block;
    transition: .5s;
    overflow: hidden;
}

.swiper-slide:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.swiper-slide .image {
    width: 100%;
    overflow: hidden;
    transition: .5s;
}

.swiper-slide .image img {
    width: 100%;
    transition: .5s;
    position: relative;
}

.swiper-slide .image img:hover {
    transform: scale(1.1, 1.1);
}

.swiper-slide .description2 {
    position: absolute;
    top: 38%;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 20%, rgba(0, 0, 0, 1) 100%);
}

.swiper-slide .description2 h3 {
    text-align: left;
    padding-left: 15px;
    position: relative;
    top: 5px;
    color: #fff;
    line-height: 50px;
    font-size: 14px;
}

.swiper-slide .logo {
    position: absolute;
    padding: 0px 15px;
    top: 18px;
    left: -95px;
    height: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #fff;
    background: #fab637;
    width: 261px;
    text-align: center;
    transform: rotate(-45deg);
    z-index: 10;
    font-weight: 700;
    font-size: 14px;
}
.swiper-slide
{
    min-height: 360px;
}
@media(max-width:321px) {
    .swiper-wrapper {
        width: 100%;
    }
}
.description4
{
    width: 366.667px;
    position: fixed;
    text-align: -webkit-auto;
}
.description4 ul
{
    padding:10px;
}
.description4 ul li
{
    border-bottom: 1px solid #ddd;
    padding-top: 10px;
    padding-bottom: 10px;
    list-style: none;
}
.description4 ul li:last-child
{
    border-bottom:0;
}
.description4 .name
{
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    color:#888;
}
.description4 .name2
{
    padding-top: 3px;
    float: right;
    font-size: 16px;
    color: #888;
    font-weight: 600;
}
.content4 {
    background: url("../carfairimages/frame.jpg") 50% 60.4588% no-repeat fixed;
}

.content4 .cont7 .row .col-lg-6 .caption2 {
    padding: 46px 50px 48px 34px;
    background: #e58e26;
    opacity: .7;
    transition: .5s;
    margin-top: 150px;
    margin-bottom: 150px;
    cursor: pointer;
    text-transform: capitalize;
}

.content4 .cont7 .row .col-lg-6 .cap {
    background-color: #ff4848;
}

.content4 .cont7 .row .col-lg-6 .caption2:hover {
    opacity: 1;
}




.content6 {
    margin-top: 100px;
}

@media(max-width:991px) {
    .icons {
        display: none;
    }

    .cont2 {
        display: inline-block;
    }
}

.icon3 {
    font-size: 52px;
    float: left;
    color: #cc6119;
    margin-right: 23px !important;
}

.text9 {
    padding-top: 20px;
}

.text9 h4 {
    color: #232628;
    margin-bottom: 10px;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    font-family: 'Montserrat';
}

.text9 p {
    color: #888888;
    line-height: 16px;
    font-size: 13px;
}

.content6 .botton {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}

.content6 .botton .btn {
    text-transform: capitalize;
    font-weight: 700;
    border-radius: 0;
    width: 170px;
}

[class^="swiper-button-"],
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    transition: all .3s ease;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: auto;
    transition: opacity .6s ease;
    margin-top:30px;
    margin-bottom:30px;
}

.swiper-container:hover .swiper-button-prev,
.swiper-container:hover .swiper-button-next {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
    visibility: visible;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    height: 16vw;
}

.swiper-slide .entity-img {
    display: none;
}

.swiper-slide .content9 {
    width: 64%;
    padding-left: 5%;
    color: #000;
}

.swiper-slide .content9 .title {
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 30px;
    color: #000;
}

.swiper-slide .content9 .caption {
    display: block;
    font-size: 12px;
    line-height: 1.4;
}

[class^="swiper-button-"] {
    width: 44px;
    opacity: 0;
    visibility: hidden;
}

.swiper-button-prev {
    -webkit-transform: translateX(50px);
    transform: translateX(50px);
}

.swiper-button-next {
    -webkit-transform: translateX(-50px);
    transform: translateX(-50px);
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 9px;
    position: relative;
    width: 12px;
    height: 12px;
    background-color: #fff;
    opacity: .4;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border: 0px solid #fff;
    border-radius: 50%;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet:hover,
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    opacity: 1;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active::before {
    border-width: 1px;
}
.swiper-pagination
{
    
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet
{
    background: #000;
}
@media (max-width: 1023px) {
    .swiper-container {
        height: 40vw;
    }
}

.content7 {
    background: url("../carfairimages/poster3.jpg") 50% 60.4588% no-repeat fixed;
}

.text10 {
    margin-top: 100px;
    margin-bottom: 100px;
    padding-top: 65px !important;
    padding-right: 80px !important;
    padding-bottom: 56px !important;
    padding-left: 63px !important;
    background: #fab637;
    transition: .5s;
}

.text10:hover {
    opacity: .7;
}

.text10 h1 span {
    color: #fff;
}


@media(max-width:991px) {
    
    .col2 {
        width: 300px;
    }
}

@media(max-width:425px) {
    .content3 .cont4 .row .col-lg-12 .p3 .text8 {
        font-size: 15px;
        float: right;
    }
}

@media(min-width:425px) and (max-width:768px) {
    .content3 .cont4 .row .col-lg-12 .p3 .text8 {
        font-size: 20px;
    }
}

@media(min-width:320px) and (max-width:767px) {
    .content3 .cont4 .row .col-lg-12 .caption .price {
        margin-left: 0;
    }
}

@media(min-width:768px) and (max-width:990px) {
    .content3 .cont4 .row .col-lg-12 .caption .price {
        margin-right: 60px;
    }

    header nav.active {
        top: -60px;
    }
}

@media(max-width:991px) {

    .content3 .cont4 .row .col-lg-12 .caption {
        border: 0
    }

    .content3 .cont4 .row .col-lg-12 .list {
        text-align: left;
        margin-bottom: 15px;
    }
}

@media(max-width:320px) {
    .content3 .cont4 .row .col-lg-12 .caption .price {
        margin-right: -26px;
    }
}

@media(min-width:321px) and (max-width:375px) {
    .content3 .cont4 .row .col-lg-12 .caption .price {
        margin-right: 29px;
    }
}

@media(min-width:376px) and (max-width:425px) {
    .content3 .cont4 .row .col-lg-12 .caption .price {
        margin-right: 76px;
    }

    .row {
        text-align: center;
    }

    .row .caption {
        margin-left: 37px;
    }

    .row .list {
        margin-left: 37px;
    }
}
@media (max-width:768px) {
    .cont12 form i {
        margin-left: -30px;
    }

    .col2 {
        margin-left: -180px;
    }

    .col {}
}

@media(max-width:320px) {
    .col2 {
        position: relative;
        left: 32px;
    }
}
.footer
{
    background: #ededed;
}
.footer .cont12
{
    padding:90px 0 90px 0;
}
.footer .cont12 .row .col-lg-4 
{
    text-align: center;
}
.footer .cont12 .row .col-lg-4 h4
{
    color: #6d6e71;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 26px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.footer .cont12 .row .col-lg-4 h4 span
{
    color: #fbc112;
}
.footer .cont12 .row .col-lg-4 p
{
    color: #717171;
    font-size: 15px;
}
.footer .cont12 .row .col-lg-4 .links
{
    padding:0;
    margin:0;
}
.footer .cont12 .row .col-lg-4 .links li
{
    list-style: none;
    padding:0;
    margin:0;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #717171;
    font-size: 15px;
}
.footer .cont12 .row .col-lg-4 .links li a
{
    font-family: 'Lato', sans-serif;
    color: #717171;
}
.footer .cont12 .row .col-lg-4 .contact
{
    margin:0;
    padding:0;
}
.footer .cont12 .row .col-lg-4 .contact li
{
    list-style: none;
    margin:0;
    padding:0;
    color: #828282;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
.footer .cont12 .row .col-lg-4 .contact i
{
    float: left;
    padding-right: 20px;
    font-size: 20px;
    padding-top:3px;
}
.footer2 .cont13 .row .col-lg-12 p
{
    color:#979797;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding-top:30px;
    padding-bottom:20px;
}
.footer2 .cont13 .row .col-lg-12 p span
{
    float: right;
}
/* start responsive header */
@media(max-width:768px)
{
    .header .top-header .cont .row .col-lg-3 h1 
    {
        padding-bottom:24px;
    }
    .header .top-header .cont .row .col-lg-3 .login
    {
        position: relative;
        top:-27px;
        left:10px;
    }
    .header .top-header .cont .row .col-lg-3 .login i , .header .top-header .cont .row .col-lg-3 .login a
    {
        color:#fff;
    }
    .header .top-header .cont .row .col-lg-3 .social
    {
        margin-left: 16px;
        margin-bottom:20px;
    }
    .bottom-header .cont1
    {
        padding-right: 0;
    }
    .bottom-header .cont1 .row .col-lg-12
    {
        padding:0;
    }
    .bottom-header .cont1 .row .navbar .nav-link
    {
        padding-right: 0;
    }
    .bottom-header .cont1 .row .navbar-toggler
    {
        position: absolute;
        top: -317px;
        left: 253px;
        background: #fff;
    }
    .bottom-header .cont1 .row .navbar 
    {
        position: relative;
        top: -254px;
        background: rgb(146, 201, 56);
        text-align: center;
        margin-bottom:-214px;
    }
    .bottom-header .cont1 .row .navbar .form-inline input
    {   
        width:80%;
        margin-left: 13px;
    }
    .text10 h1 
    {
        font-size: 28px;
    }
    .swiper-container
    {
        height: 500px;
        width:100%;
    }
    .swiper-slide .description2 
    {
        top:16%;
    }
    .swiper-slide .description4
    {
        width:100%;
    }
    .swiper-slide .description4 ul
    {
        padding:0;
    }
    .swiper-wrapper
    {
        width:100%;
    }
}
@media(min-width:991px)
{
    .bottom-header .cont1 .row .navbar-toggler
    {
        display: none;
    }
}
/* start responsive header */