@import url('https://fonts.googleapis.com/css?family=Charm|Merriweather');
:root {
    --maincolor: #333;
    --maincolor1: #cc6119;
    --maincolor2:#232628;
    --main-color4:#333;
}

html {
    scroll-behavior: smooth;
}
.colors {
    list-style: none;
    position: fixed;
    top: 50%;
    padding: 10px;
    z-index: 2000;
    width: 170px;
    background: #ccc;
    margin-left: -125px;
    transition: .5s;
}

.colors li .fas {
    color: #fff;
    padding-left: 10px;
}

.colors:hover {
    margin-left: 0;
}

.colors li {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.colors li:nth-child(1) {
    background: #b71540;
}

.colors li:nth-child(2) {
    background: #0c2461;
}

.colors li:nth-child(3) {
    background: #3c6382;
}

.colors li:nth-child(4) {
    background: #079992;
}

.colors li:nth-child(5) {
    background: #e58e26;
}

.colors li:nth-child(6) {
    background: #333;
}
.contact-info {
    position: fixed;
    top: 40%;
    z-index: 10000;
    left: 96%;
}

@media(max-width:320px) {
    .contact-info {
        left: 83%;
    }
}

@media(min-width:321px) and (max-width:375px) {
    .contact-info {
        left: 86%;
    }
}

@media(min-width:376px) and (max-width:425px) {
    .contact-info {
        left: 87%;
    }
}

@media(min-width:426px) and (max-width:768px) {
    .contact-info {
        left: 93%;
    }
}

.option {
    position: relative;
    cursor: pointer;
}

.option i {
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #f1f1f1;
    color: #b9b9b9;
    font-size: 20px;
    transition: .5s;
}

.option:hover i {
    color: #3498db;
}

.text12 {
    position: absolute;
    height: 60px;
    width: 200px;
    background: #1b1b1b;
    top: 0;
    z-index: -1;
    left: 0px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: .5s;
}

.option:hover .text12 {
    left: -200px;
}

/* start navbar */
.top-header
{
    background: #fff;
    margin-bottom:0;
}
.header .top-header .cont .row .col-lg-3 h1 {
    color: #000;
    font-size: 40px;
    font-weight: 700;
    font-style: italic;
    padding: 10px;
}
@media(max-width:768px)
{
    .header .top-header .cont 
    {
        padding-right: 0;
        position: relative;
    }
    .header .top-header .cont .row .col-lg-3
    {
        padding:0;
    }
    .header .top-header .cont .row .col-lg-3 h1 
    {
        color:#fff;
        background: #000;
    }
}
.header .top-header .cont .row .col-lg-3 .caption3 i {
    float: left;
    font-size: 35px;
    padding: 10px;
    padding-top: 22px;
    padding-right: 20px;
    color:#000;
}

.header .top-header .cont .row .col-lg-3 .caption3 .text1 {
    padding-top: 15px;
    font-family: "lora";
}

.social {
    margin-top: 20px;
}

.social i {
    padding: 10px;
    color: #fff;
    cursor: pointer;
}

.bottom-header {
    background-color: #92c938;
    position: sticky;
    top: 0;
    z-index: 9999;
}

.bottom-header .cont1 .row .navbar {
    padding: 0;
}

.bottom-header .cont1 .row .navbar .collapse {
    margin-bottom: 0;
}

.bottom-header .cont1 .row .navbar .nav-link {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    line-height: 40px;
    padding-right: 15px;
    padding-left: 15px;
    transition: .5s;
}

.bottom-header .cont1 .row .navbar .nav-link:hover {
    background: #333;
}

.bottom-header .cont1 .row .navbar .nav-item.active {
    background: #333;
}

.bottom-header .cont1 .row .navbar .form-inline input {
    border-radius: 0;
    float: left;
}

.bottom-header .cont1 .row .navbar .form-inline a {
    text-decoration: none;
}

.bottom-header .cont1 .row .navbar .form-inline i {
    background: #cc6119;
    color: #fff;
    padding: 10px;
    margin-left: -9px;
}
/* end navbar */
.content1
{
    background: url("../carfairimages/car 34.jpg");
    background-size:cover; 
    background-position: 50% 0;
    height:480px;
}
.content1 .cont1 h1
{
    line-height:350px;
    color:#fff;
    font-weight: 700;
    text-transform: uppercase;
}
section .cont4 .text1
{
    position: relative;
    min-height: 40px;
    padding: 26px 15px 21px 76px;
    margin: 0 -22px;
    background-color: #232628;
    color:#fff;
    z-index: 1;
    margin-top:-30px;
}
section .cont4 .text1 i
{
    float: left;
    font-size: 25px;
    padding-right: 10px;
}
section .cont4 .text1 p
{
    font-size:20px; 
    text-transform: capitalize;
    font-weight: 500;
    margin-top:-5px;
}
.dropdown-toggle:after
{
    margin-left: 100px;
}

.navbar-expand-lg .navbar-nav .dropdown-menu
{
    width:235px;
    margin-top:0;
}
.dropdown-divider
{
    margin:0;
}
.navbar-expand-lg .navbar-nav .drop10,.drop12
{
    overflow-y:auto;
    max-height: 350px; 
}

.button
{
    text-align: center;
}
.btn
{
    width:235px;
    font-size: 14px;
    background-color: #6c98e1;
    font-weight: 700;
    text-transform: uppercase;
    border:0;
    line-height: 35px;
    margin-bottom:20px;
    border-radius: 3px;
    box-shadow: 0 2px 0 #567ab4;
}
.box
{
    margin:0 -22px 0 -22px;
    border-top:3px solid #6c98e1;
    box-shadow: 0 2px 5px rgba(0,0,0,.18);
    margin-bottom:50px;
    overflow: hidden;
}
.text5
{
    padding-top:20px;
    position: relative;
    height:50px;
    transition: .5s;
}
.box .text5 h5
{
    text-transform: uppercase;
    position: absolute;
    top:0;
    left:11%;
    float: left;
    line-height: 50px;
    font-size: 14px;
    font-weight: 700;
}
.box .text5 .fa-plus
{
    position: absolute;
    top:0;
    left:85%;
    line-height: 50px;
    color:#ccc;
    cursor: pointer;
}
.box .lists
{
    transition: .5s;
    list-style: none;
    padding-top:50px;
    padding-left:33px;
    display: none;
}
.box .lists li p
{
    margin-top:-15px;
    margin-left: 35px;
    cursor: pointer;
    transition: .5s;
}
.box .lists li p:hover
{
    color:#cc6119;
}
.box .lists .fa-chevron-circle-right
{
    float: left;
    color: #cc6119;
    padding-left: 10px;
    margin-top:6px;
}

.contact-info {
    position: fixed;
    top: 40%;
    z-index: 10000;
    left: 96%;
}

@media(max-width:320px) {
    .contact-info {
        left: 83%;
    }
}

@media(min-width:321px) and (max-width:375px) {
    .contact-info {
        left: 86%;
    }
}

@media(min-width:376px) and (max-width:425px) {
    .contact-info {
        left: 87%;
    }
}

@media(min-width:426px) and (max-width:768px) {
    .contact-info {
        left: 93%;
    }
}

.option {
    position: relative;
    cursor: pointer;
}

.option i {
    display: block;
    width: 60px;
    text-align: center;
    height: 60px;
    line-height: 60px;
    background: #f1f1f1;
    color: #b9b9b9;
    font-size: 20px;
    transition: .5s;
}

.option:hover i {
    color: #3498db;
}

.text12 {
    position: absolute;
    height: 60px;
    width: 200px;
    background: #1b1b1b;
    top: 0;
    z-index: -1;
    left: 0px;
    color: #fff;
    line-height: 60px;
    text-align: center;
    transition: .5s;
}

.option:hover .text12 {
    left: -200px;
}

.header {
    background: #232628;
}

.top-header {
    padding-bottom: 20px;
}

.cont {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    line-height: 30px;
}

#lang_dropdown {
    color: #aaa;
    text-transform: uppercase;
    font-size: 11px;
    padding-top: 10px;
    float: left;
}

#lang_dropdown .fa {
    position: relative;
    margin-right: 20px;
    top: -2px;
    margin-left: 5px;
    vertical-align: middle;
    font-size: 16px;
}

.lang_dropdown_menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.cont .fas {
    color: #aaa;
}

.cont a {
    text-decoration: none;
    color: #aaa;
    transition: .5s;
    font-size: 11PX;
}

.cont a:hover {
    color: #fff;
}

.cont a .text {
    border-right: 1px solid #aaa;
    padding-right: 10px;
    padding-left: 10px;
}

@media(max-width:991px) {
    .cont {
        display: none;
    }
}

.bottom-header .cont2 .text2 {
    color: #fff;
    font-style: italic;
    font-weight: 700;
    letter-spacing: -2px;
    font-size: 40px;
    line-height: 25px;
}

.bottom-header .cont2 .col-lg-10 .fas {
    position: absolute;
    top: 0;
    font-size: 20px;
    color: var(--maincolor1);
    border: 3px solid var(--maincolor1);
    padding: 7px;
    border-radius: 50%;
}

.bottom-header .cont2 .col-lg-10 p {
    color: #fff;
    padding-left: 50px;
}

.bottom-header .cont2 .col-lg-10 .text3 {
    color: #fff;
    position: absolute;
    top: -5px;
    left: 120px;
    font-size: 16px;
}

.bottom-header .cont2 .col-lg-10 .text4 {
    color: #fff;
    position: absolute;
    font-size: 16px;
    top: 17px;
    left: 120px;
}

@media(max-width:767px) {
    .text2 {
        position: absolute;
    }

    .col {
        display: none;
    }

    .col2 {
        margin-top: 80px;
        padding-bottom: 50px;
        margin-left: -30px;
        width: 500px;
    }
}

.icons {
    text-align: center;
}

.bottom-header .cont2 .col-lg-10 .icons .fab {
    color: #fff;
    background-color: #2f3234;
    font-size: 14px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 50%;
}

.navbar1 {
    background: rgba(234, 237, 240, .8);
    box-shadow: 0 0 4px rgba(0, 0, 0, .4);
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 1000;
}

.navbar-nav .nav-item {
    text-transform: uppercase;
    line-height: 40px;
}

header {
    background: none;
    width: 100%;
    box-sizing: border-box;
}

header nav {
    padding-top: 10px;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 1000;
}

header nav ul li {
    list-style: none;
    position: relative;
    margin-top: -10px;
    transition: .5s;
    z-index: 1000;
}

header nav ul li:hover {
    background: #cc6119;
}

header nav ul li ul li {
    background-color: white;
    z-index: 1000;
}

header nav ul li ul li a {
    border-bottom: 1px solid #f2f2f2;
    color: black;
    z-index: 1000;
}

header nav ul li ul li a:hover {
    background: #fbc112;
    color: black;
}

header nav ul .sub-menu:before {
    position: absolute;
    line-height: 50px;
    color: #fff;
    right: 5px;
}

header nav ul li ul {
    position: absolute;
    left: 0;
    background: #333;
    display: none;
    margin-top: 10px;
    z-index: 1000;
}

header nav ul li:hover ul {
    display: block;
    z-index: 1000;
}

header nav ul li ul li .dropdown {
    position: absolute;
    left: 280px;
    top: 0;
    background: #333;
    display: none;
    border-left: 1px solid grey;
    z-index: 1000;
}

header nav ul li ul .list:before {
    content: '\f0da';
    font-family: fontAwesome;
    position: absolute;
    line-height: 50px;
    color: black;
    right: 5px;
}

header nav ul li ul li:hover .dropdown {
    display: block;
    z-index: 1000;
}

header nav ul li ul li {
    display: block;
    width: 280px;
    z-index: 1000;
}

header nav ul a {
    height: 50px;
    line-height: 50px;
    padding: 0 25px;
    color: #fff;
    text-decoration: none;
    display: block;
    z-index: 1000;
}

header nav ul a:hover {
    color: #333;
    text-decoration: none;
}

header nav ul a.active {
    color: #333;
}

header nav ul a:hover {
    color: #fff;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.sub-menu:hover .dropdown-content {
    display: block;
    z-index: 1000;
}

.menu-toggle {
    color: #fff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media(max-width:991px) {
    header {
        padding: 0 20px;
        height: 100%;
    }

    .menu-toggle {
        display: block;
        margin-top: -170px;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #000;
        left: -100%;
        top: -100px;
        transition: .5s;
    }

    header nav ul a.active {
        color: #fff;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
    }

    header nav ul li a {
        border-bottom: 1px solid rgba(0, 0, 0, .2);
    }

    header nav ul li:hover ul {
        position: relative;
        background: #003e6f;
    }

    header nav ul li ul li {
        width: 100%;
    }

    header nav ul li ul li:hover .dropdown {
        position: relative;
        background: #003e6f;
    }

    header nav ul li ul li .dropdown {
        width: 100%;
        left: 0;
    }
}

@media(min-width:768px) and (max-width:990px) {
    header nav {
        position: absolute;
        width: 100%;
        height: calc(100vh - 50px);
        background: #000;
        left: -120%;
        top: -100px;
        transition: .5s;
    }

    header nav.active {
        left: -24px;
        width: 107%;
    }
}

.search-box
{
    line-height: 30px;
    padding-top:7px;
}
.search-box input
{
    position: relative;
    width:100%;
}
.search-box input::placeholder
{
    padding-left:10px;
}
.search-box .search-btn
{
    position: absolute;
    top: 19%;
    left: 83%;
}
.search-box .search-btn i
{
    padding:5px;
    color: #fff;
    border: 1px solid #6c98e1;
    background: #6c98e1;
}

.container-fluid .col-lg-12 .carousel-item .text6 {
    position: absolute;
    top: 10%;
    left: 60%;
    border: 1px solid #eee;
    background: #cc6119;
    min-width: 380px;
    padding-top: 60px;
    height: 357px;
    border-radius: 50%;
    padding-left: 60px;
    opacity: .8;
}

.container-fluid .col-lg-12 .carousel-item .text6 h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    color: #fff;
    margin: 0;
}

.container-fluid .col-lg-12 .carousel-item .text6 h3 {
    color: #333;
    font-size: 25px;
    margin: 0;
}

.stm-slider-currency {
    margin-left: -30px;
    font-size: 50px;
    color: #fff;
    position: relative;
    top: -40px;
}

.stm-slider-price {
    font-size: 106px;
    color: #fff;
    font-weight: 800;
    line-height: 75px;
    font-family: 'Montserrat';
    letter-spacing: -10px;
}

.stm-slider-divider {
    color: #222;
    position: relative;
    top: -40px;
    left: 6px;
    font-size: 50px;
}

.stm-slider-time {
    font-size: 50px;
    color: #222;
    line-height: 50px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    top: -30px;
}

.stm-slide-value {
    position: relative;
    left: 50%;
    top: -40px;
    padding-left: 4px;
    display: block;
    white-space: normal;
    font-size: 16px;
    line-height: 14px;
    word-spacing: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.stm-slider {
    width: 300px;
    text-align: center;
    padding: 0;
    font-family: 'Montserrat';
    margin-top: -30px;
    margin-left: -20px;
}

@media(max-width:991px) {
    .text6 {
        display: none;
    }

    .search-box {
        display: none;
    }
}

.text7 {
    position: absolute;
    top: 10%;
    left: 60%;
}

.text7 .h1 {
    font-size: 46px;
    color: #232628;
    font-weight: 400 !important;
}

.text7 .h1 .white {
    color: #fff;
}

.text7 a {
    float: left;
    position: relative;
    top: 80px;
    left: 40%;
    text-decoration: none;
    color: #fff;
    background: #6c98e1;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 700;
    transition: .5s;
}

.text7 a:hover {
    opacity: .7;
}

@media(max-width:991px) {
    .text7 {
        display: none;
    }
}

.box {
    background: linear-gradient(rgba(246, 246, 246, 0.8), rgba(246, 246, 246, 0.8)), url("../images/img5.jpg");
    background-size: cover;
    background-position: 50% 70%;
    margin-left: -15px;
    margin-right: -15px;
}

.cont5 .row {
    background: url("../carfairimages/car5.jpg");
    background-size: cover;
    background-position: 50% 50%;
}

.cont5 .row #col {
    background: #ffcb05;
    padding: 65px;
}

.cont5 .row #col h2 {
    font-size: 38px;
    color: #000000;
    font-weight: bold;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-family: 'Playfair Display', serif;
}

.cont5 .row #col p {
    color: #000000;
    font-size: 16px;
}

.cont5 .row #col .btn {
    background: #000000;
    color: white;
    border-radius: 0;
    border: none;
    font-weight: 500;
    width: 200px;
    height: 50px;
    margin-top: 30px;
}

.cont5 .row #col .btn:hover {
    background: white;
    color: black;
    font-weight: 500;
}

.box .link {
    position: fixed;
    width: 50px;
    height: 50px;
    background: #27ae60;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 22px;
}

.colors {
    list-style: none;
    position: fixed;
    top: 50%;
    padding: 10px;
    z-index: 2000;
    width: 170px;
    background: #ccc;
    margin-left: -125px;
    transition: .5s;
}

.colors li .fas {
    color: #fff;
    padding-left: 10px;
}

.colors:hover {
    margin-left: 0;
}

.colors li {
    display: inline-block;
    cursor: pointer;
    width: 15px;
    height: 15px;
}

.colors li:nth-child(1) {
    background: #b71540;
}

.colors li:nth-child(2) {
    background: #0c2461;
}

.colors li:nth-child(3) {
    background: #3c6382;
}

.colors li:nth-child(4) {
    background: #079992;
}

.colors li:nth-child(5) {
    background: #e58e26;
}

.colors li:nth-child(6) {
    background: #333;
}
section
{
    background: url("../carfairimages/car 35.jpg");
    background-size:cover;
    padding-top:100px; 
    padding-bottom: 100px;
}
section .container form
{
    padding:15px;
    text-align: left;
    position: relative;
    box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
    transition: .5s;
}
section .container form:hover
{
    box-shadow: 0px 0px 40px 16px rgba(18,18,18,1.00);
}
section .container form .image 
{
    margin-bottom:70px;
}
section .container form .image img
{
    position: absolute;
    top:-11%;
    left:40%;
    width:125px;
    height:125px;
    border-radius:50%; 
    margin-bottom:30px;
}
section .container form h1
{
    text-align: center;
    color:#fff;
    font-family: 'Charm', cursive;
    font-family: 'Merriweather', serif;
    font-weight: 500;
    padding-bottom:15px;
    border-bottom:1px solid #ddd;
}
section .container .form-group .form-control
{
    border:1px solid #fff;
    outline:none;
    background: transparent;
    margin-bottom:30px;
    color:#fff;
    position: relative;
    border-radius: 0;
    width:91.7%;
}
section .container .form-group .form-control:nth-child(2)
{
    margin-bottom:10px;
}
section .container .form-group input::placeholder
{
    color:#fff;
}
section .container .button
{
    text-align: center;
    background: #ffc107;
    outline: 0;
    border:0;
    box-shadow: 0 2px 0 #ffc107;
    width:100%;
    font-size: 20px;
}
section .container .button1
{
    background: #3b5999;
    box-shadow: 0 2px 0 #3b5999;
    text-transform: capitalize;
    width:48%;
    font-size: 17px;
    margin-right: 15px;
}
section .container .button1 i
{
    font-size: 17px;
}
section .container .button2
{
    background: #55acee;
    box-shadow: 0 2px 0 #55acee;
    text-transform: capitalize;
    width:48%;
    font-size: 17px;
}
section .container .button2 i
{
    font-size: 21px;
}
section .container .network
{
    border-bottom:1px solid #ddd;
    padding-bottom:10px;
}
section .container .network h3 , h6
{
    color:#fff;
    padding-bottom:10px;
    font-size: 16px;
    text-transform: capitalize;
}
section .container h6
{
    padding-top:10px;
}
section .container .form-group .fa-user
{
    float: left;
    border: 1px solid #fff;
    padding:10px;
    color:#fff;
    cursor: pointer;
    margin-right: -1px;
}
section .container .form-group .fa-key
{
    float: left;
    border: 1px solid #fff;
    padding:10px;
    color:#fff;
    cursor: pointer;
    margin-right: -1px;
}
.form-check-label
{
    color:#fff;
}
.form-check .links
{
    float: right;
    text-decoration: none;
    color:#fff;
}
section .container p
{
    color:#fff;
    font-size: 13px;
    text-align: center;
    margin:0;
    text-transform: capitalize;
}
@media(max-width:767px)
{
    section .container .button1 
    {
        width:100%;
    }
    section .container .button2
    {
        width:100%;
    }
    section .container form .image img
    {
        left:30%;
    }
}
@media(max-width:320px)
{
    section .container .form-group .form-control
    {
        width:83.7%;
    }
    .form-check .links
    {
        float: left;
        padding-left: 34px;
    }
    .form-check
    {
        text-align: center;
    }
}
@media (min-width:321px) and (max-width:375px)
{
    section .container .form-group .form-control
    {
        width:87%;
    }
}
@media (min-width:376px) and (max-width:425px)
{
    section .container .form-group .form-control
    {
        width:88.9%;
    }
}
@media (min-width:426px) and (max-width:768px)
{
    section .container .form-group .form-control
    {
        width:94.1%;
    }
}
@media (min-width:769px) and (max-width:1024px)
{
    section .container .form-group .form-control
    {
        width:90.8%;
    }
    section .container .button1 
    {
        width:100%;
    }
    section .container .button2
    {
        width:100%;
    }
}
.footer
{
    background: #ededed;
}
.footer .cont12
{
    padding:90px 0 90px 0;
}
.footer .cont12 .row .col-lg-4 
{
    text-align: center;
}
.footer .cont12 .row .col-lg-4 h4
{
    color: #6d6e71;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 26px;
    font-family: 'Playfair Display', serif;
    text-transform: uppercase;
}
.footer .cont12 .row .col-lg-4 h4 span
{
    color: #fbc112;
}
.footer .cont12 .row .col-lg-4 p
{
    color: #717171;
    font-size: 15px;
}
.footer .cont12 .row .col-lg-4 .links
{
    padding:0;
    margin:0;
}
.footer .cont12 .row .col-lg-4 .links li
{
    list-style: none;
    padding:0;
    margin:0;
    text-transform: uppercase;
    margin-bottom: 8px;
    color: #717171;
    font-size: 15px;
}
.footer .cont12 .row .col-lg-4 .links li a
{
    font-family: 'Lato', sans-serif;
    color: #717171;
}
.footer .cont12 .row .col-lg-4 .contact
{
    margin:0;
    padding:0;
}
.footer .cont12 .row .col-lg-4 .contact li
{
    list-style: none;
    margin:0;
    padding:0;
    color: #828282;
    margin-bottom: 16px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
.footer .cont12 .row .col-lg-4 .contact i
{
    float: left;
    padding-right: 20px;
    font-size: 20px;
    padding-top:3px;
}
.footer2 .cont13 .row .col-lg-12 p
{
    color:#979797;
    margin-bottom: 0px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    padding-top:30px;
    padding-bottom:20px;
}
.footer2 .cont13 .row .col-lg-12 p span
{
    float: right;
}
/* start responsive header */
@media(max-width:768px)
{
    .header .top-header .cont .row .col-lg-3 h1 
    {
        padding-bottom:24px;
    }
    .header .top-header .cont .row .col-lg-3 .login
    {
        position: relative;
        top:-27px;
        left:10px;
    }
    .header .top-header .cont .row .col-lg-3 .login i , .header .top-header .cont .row .col-lg-3 .login a
    {
        color:#fff;
    }
    .header .top-header .cont .row .col-lg-3 .social
    {
        margin-left: 16px;
        margin-bottom:20px;
    }
    .bottom-header .cont1
    {
        padding-right: 0;
    }
    .bottom-header .cont1 .row .col-lg-12
    {
        padding:0;
    }
    .bottom-header .cont1 .row .navbar .nav-link
    {
        padding-right: 0;
    }
    .bottom-header .cont1 .row .navbar-toggler
    {
        position: absolute;
        top: -317px;
        left: 253px;
        background: #fff;
    }
    .bottom-header .cont1 .row .navbar 
    {
        position: relative;
        top: -254px;
        background: rgb(146, 201, 56);
        text-align: center;
        margin-bottom:-214px;
    }
    .bottom-header .cont1 .row .navbar .form-inline input
    {   
        width:80%;
        margin-left: 13px;
    }
}
@media(min-width:991px)
{
    .bottom-header .cont1 .row .navbar-toggler
    {
        display: none;
    }
}
/* start responsive header */