body
{
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-size:cover;
}
header
{
    position: absolute;
    top:0;
    left:0;
    padding:0 100px;
    background:none;
    width:100%;
    box-sizing: border-box;
    background:#000;
}
header .logo
{
    color:#fff;
    height:50px;
    line-height:50px;
    padding-top:10px;
    font-size:24px;
    text-transform: uppercase;
    font-weight:800;
    float: left;
}
header .logo span
{
    color:#000000;
}
header nav
{
    float: right;
    padding-top:10px;
}
header nav ul
{
    margin:0;
    padding:0;
    display: flex;
}
header nav ul li
{
    list-style:none;
    position: relative;
}
header nav ul li ul li 
{
    background-color:white;
}
header nav ul li ul li a
{
    border-bottom:1px solid #f2f2f2;
    color:black;
}
header nav ul li ul li a:hover
{
    background: #fbc112;
    color:black;
}
header nav ul li.sub-menu:before
{
    content: '\f107';
    font-family: fontAwesome;
    position: absolute;
    line-height:50px;
    color:#fff;
    right:5px;
}
header nav ul li ul
{
    position: absolute;
    left:0;
    background:#333;
    display:none;
}
header nav ul li:hover ul
{
    display: block;
}
header nav ul li ul li .dropdown
{
    position: absolute;
    left:280px;
    top:0;
    background:#333;
    display:none;
    border-left: 1px solid grey;
}
header nav ul li ul .drop:before
{
    content: '\f0da';
    font-family: fontAwesome;
    position: absolute;
    line-height:50px;
    color:black;
    right:5px;
}
header nav ul li ul li:hover .dropdown
{
    display: block;
}
header nav ul li ul li
{
    display:block;
    width:280px;
}
header nav ul a
{
    height:50px;
    line-height:50px;
    padding:0 40px;
    color:#fff;
    text-decoration: none;
    display: block;
}
header nav ul li .btn
{
    border-radius:0;
    margin-left:20px;
    margin-top:5px;
    background:none;
    border:1px solid #fbc112;
    color:#fbc112;
}
header nav ul li .btn:hover
{
    background:#fbc112;
    border:none;
    color:white;
}
header nav ul a:hover
{
    color:#fbc112;
}
header nav ul a.active
{
    color:#fbc112;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 100%;
    left: 0;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}


.sub-menu:hover .dropdown-content {
    display: block;
}

.column {
    float: left;
    padding:10px;
    width: 25%;
    background-color: #ccc;
    height:auto;
    background:white
}
.column p
{
    text-transform:uppercase;
    font-family: 'Lato', sans-serif;
    font-size:15px;
    padding:10px;
    margin-bottom:0;
    font-weight:700;
}
.column a {
    float: none;
    color: black;
    text-decoration: none;
    font-size:14px;
    color:black;
    padding-left:10px;
    display: block;
    border-bottom:1px solid #f2f2f2;
    text-align: left;
}
.column a:hover {
    background-color: #fbc112;
}
.column a:last-child {
    border:none;
}
.column a:hover {
    background-color: #ddd;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}
.menu-toggle
{
    color:#fff;
    float: right;
    line-height:50px;
    font-size:24px;
    cursor: pointer;
    display:none;
}
@media(max-width:991px)
{
    header
    {
        padding:0 20px;
        height:100%;
    }
    .menu-toggle
    {
        display:block;
    }
    header nav
    {
        position: absolute;
        width:100%;
        height:calc(100vh - 50px);
        background:#000;
        top:50px;
        left:-100%;
        transition: .5s;
    }
    header nav.active
    {
        left:0;
    }
    header nav ul
    {
        display: block;
        text-align: center;
    }
    header nav ul li a
    {
        border-bottom:1px solid rgba(0,0,0,.2);
    }
    header nav ul li:hover ul
    {
        position: relative;
        background:#003e6f;
    }
    header nav ul li ul li
    {
        width:100%;
    }
    header nav ul li ul li:hover .dropdown
    {
        position: relative;
        background:#003e6f;
    }
    .row 
    {
        width:100%;
        margin-left:500px;
    }
    .column 
    {
        width: 100%;
    }
    .column a
    {
        text-align: center;
    }
    header nav ul li ul li .dropdown
    {
        width:100%;
        left:0;
    }
}