div
{
    background-image:url("../images/child.png");
    background-size: cover;
}
div img
{
    width:150px;
    height:150px;
    display:block;
    margin:auto;
}
div h2,h4
{
    text-align: center;
}
div h4,span
{
    color:red;
}
div p
{
    text-align: center;
    margin:auto;
    width:300px;
    font-weight:500;
}
div .btn
{
    margin:15px 0 15px 0;
    position: relative;
    left:46%;
    background-color: red;
    border-radius:20px;
}
section img
{
    border-radius:50%;
    height:160px;
    position: relative;
    top:200px;
    left:60px;
}